<div>
<p>Form: <%= data %> </p>

<form  action="add" method="POST">
<ul>
<li class="form-group"><label>Title</label><input type="text" name="title" /></li>
<li class="form-group"><label>Topic</label><textarea type="text" name="topic" ></textarea></li>
<li class="form-group"><label>Date</label><input type="datetime" name="date" value="2015-4-15" /></li>
</ul>
<input class="btn" type="submit" value="send" />
</form>
</div>